# Python Fundamentals - part II

The notebook intends to cover the following topics:
1. Lists
2. Tuples
3. Dictionaries
4. Comprehension constructs
5. Functions in Python

In [1]:
alist = ['Tom', 54, 'Julia', 78]

In [2]:
alist

['Tom', 54, 'Julia', 78]

In [3]:
alist.append(help)

In [4]:
alist

['Tom',
 54,
 'Julia',
 78,
 Type help() for interactive help, or help(object) for help about object.]

In [5]:
blists = [
    ['Tom', 54],
    ['Julia', 78]
]

In [6]:
blists

[['Tom', 54], ['Julia', 78]]

In [7]:
blists[-1]

['Julia', 78]

In [8]:
blists[-2][0]

'Tom'

In [9]:
blists.append(['Mak', 90])
blists

[['Tom', 54], ['Julia', 78], ['Mak', 90]]

In [10]:
a = [0]*5
a

[0, 0, 0, 0, 0]

In [11]:
a = [[0]*cols]*rows

NameError: name 'cols' is not defined

In [ ]:
cols = 5
rows = 4
dlist = [[1]*cols]*rows

In [ ]:
dlist

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

In [ ]:
# tuples
tup1 = ('Tom', 78)
tup1[1] = 90

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup2 = ('Julia', 89)
tup1 + tup2

('Tom', 78, 'Julia', 89)

In [ ]:
tup1

('Tom', 78)

In [ ]:
tup3 = tup1 + tup2

In [ ]:
tup3

('Tom', 78, 'Julia', 89)

In [ ]:
len(tup3)

4

In [15]:
# dictionary
country_code = {'India': 1, 'USA': 2, 'China': 3}
print(country_code)

{'India': 1, 'USA': 2, 'China': 3}

In [16]:
print(country_code['China'])

3

In [17]:
country_code['UAE'] = 4
print(country_code)

{'India': 1, 'USA': 2, 'China': 3, 'UAE': 4}

In [18]:
'Inda' in country_code

False

In [19]:
"India" in country_code

True

In [20]:
x = True
type(x)

bool

In [21]:
1 == 2

False

In [22]:
1 != 2

True

In [23]:
a = 1
b = 2
print(a == b)
print(a > b)
print(a < b)
print(a != b)

False
False
True
True

In [24]:
color = 'red'
if color == 'red':
    print("Color is red!")
    
print("Color problem is solved!!")

Color is red!
Color problem is solved!!

In [25]:
color = 'kjh'
if color == 'red':
    print("Color is red!")
    
else:
    print("color is not red!")
    
print("Color problem is solved!!")

color is not red!
Color problem is solved!!

In [26]:
color = 'green'
if color == 'red':
    print("Color is red!")
    
elif color == 'green':
    print("Color is green!")
    
else:
    print("color is not red!")
    
print("Color problem is solved!!")

Color is green!
Color problem is solved!!

In [27]:
age = 15
if age >= 18:
    print("Adult")
    
else:
    print("Juvenile")

Juvenile

In [28]:
a = 0
not(a)

True

In [29]:
a = 3
not(a)

False

In [30]:
a = True
not(a)

False

In [31]:
score = 76
percentile = 83

if score > 75 or percentile > 90:
    print("Admission successful!")
else:
    print("Try again next year")

Admission successful!

In [45]:
print(range(5))

range(0, 5)

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

In [34]:
for i in range(1, 10, 2):
    product = 8 * i
    print(product)

8
24
40
56
72

In [35]:
names = ('harshit', 'shubham', 'sahil')
for name in names:
    print(name.upper())

HARSHIT
SHUBHAM
SAHIL

In [36]:
age = [12,43,45,10]
i = 0
while i < len(age):
    if age[i] >= 18:
        print("Adult")
    else:
        print("Juvenile")
    i += 1

Juvenile
Adult
Adult
Juvenile

In [37]:
# list comprehension

cubes = [n** 3 for n in range(1,10)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [38]:
cubes = []
for i in range(1,10):
    cubes.append(i ** 3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [39]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [40]:
abs(2-5)

3

In [41]:
def add_two_numbers(a, b):
    sum = a + b
    return sum

In [42]:
add_two_numbers(5,11)

16

In [43]:
def fahr_to_celsius(temp):
    """
    This function converts temperature from fahrenheit
      to celsius.
      Args:
      -----
        tempInFahr: temperature in fahrenheit

      Returns:
      --------
        tempInCel: temperature in celsius
    """
    tempInCel = (temp - 32) * 5/9
    return tempInCel

In [44]:
fahr_to_celsius(50)

10.0

In [47]:
d = (5/9)
print(d)
(50-32)*d

0.5555555555555556

10.0